@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; } 

html {
    box-sizing: border-box;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    background-color: #f2ece5;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
} 

*, *::before, *::after {
    box-sizing: inherit;
    
}

body {
    margin: 0 auto;
    padding: 0 auto;
    
}

.bigcircle {
	width: 300px;
	height: 300px;
	background-color: #fad4c8;
	border-radius: 150px;
    position:absolute;
    top: 30%;
    margin-left: 15%; 
}


.text {
    margin-right: 12%;
    margin-left: 6%;
    padding-top: 25%;
    text-align: right;
}

h1 {
    font-weight: 700;
}